<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="/assets/img-01.png" alt="IMG">
				</div>
				<%= form_for :sessions, url: entrar_path, class: "login100-form validate-form", method: :post do |f| %>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">

						<%= f.number_field :cpf, min: 0, placeholder: "Insira Seu CPF", required: 'true', class: "input100" %>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<%= f.password_field :password, placeholder: "Insira Sua Senha", required: 'true',  class: "input100" %>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<%= f.submit "Entrar", class: "login100-form-btn"%>
					</div>
				<% end %>
			</div>
		</div>
	</div>
