</table>
<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column">Sua Transferência foi realizada com Sucesso!</th>
								<th class="column"><%= link_to 'Retornar', saldo_path(:user_id => @usuario), method: :post, class: 'btn btn-warning' %></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>